<footer class="footer">
    <div class="footer-container d-flex justify-content-center">
        <span class="flex-item text-muted"><a href="/about">About</a> • Made by The President's Club
        </span>
    </div>

</footer>